# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
.venv/
venv/

# Django
backend/staticfiles/

# Frontend
frontend/dist/
frontend/node_modules/
frontend/.env
frontend/.env.local

# Environment
.env

# IDE / OS
.vscode/
.DS_Store
Thumbs.db

# Logs
*.log
